<body class="inventory-body">
    <div class="container">
        <div class="jumbotron anyClass">
            <p>Lista klinika </p>
        
            <table class="table sortable-table" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th mat-sort-header="ime">Ime</th>
                        <th mat-sort-header="adresa">Adresa</th>
                        <th mat-sort-header="opis">Opis</th>
                        <th mat-sort-header="grad">Grad</th>
                    </tr>
                </thead>
                <tbody *ngFor="let klinike of sortedData">
                    <tr>
                        <td style="text-align: left;">{{klinike.ime}}</td>
                        <td style="text-align: left;">{{klinike.adresa}}</td>
                        <td style="text-align: left;">{{klinike.opis}}</td>
                        <td style="text-align: left;">{{klinike.grad}}</td>
                    </tr>
                </tbody>
            </table>

            <!--  <div>
                <h2>Lista dostupnih pregleda </h2>
                <br>
                <table class="table"  sortable-table (sorted)="onSorted($event)">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Redni broj</th>
                            <th sortable-column="ime" style="text-align: center;" >Ime</th>
                            <th style="text-align: center;">Adresa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let a of klinike; let i = index">
                        <tr>
                            <th style="text-align: center;" scope="row">{{i+1}}</th>
                            <td style="text-align: center;">{{a.ime}}</td>
                            <td style="text-align: center;">{{a.adresa}}</td>


                        </tr>
                    </tbody>
                </table>
            </div>-->

        </div>


    </div>

</body>