html, body, app-root {
    height: 100%;
    margin: 0mm;
    }
.inventory-body {
    position: fixed;
    margin-top: -0.7cm;
    min-width: 100%;
    background-image: url("../pocetna-stranica/klinika.jpg");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    }
.jumbotron{
    margin: 2cm;
    text-align: center;
    color: rgb(0, 47, 255);
    font: outline;
    font-family: 'Montserrat', sans-serif;
}
.nav-link{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}