<nav class="navbar navbar-default  ">

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav-tabs nav-justified" id="listanav">
            <li class="nav-item">
                <a class="nav-link" (click)="klinikaClick()"> Klinike</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="zakazivanjeClick()">Zakazivanje pregleda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="preglediClick()">Dostupni pregledi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="kartonClick()">Zdravstveni karton</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="zakazaniPregledi()">Zakazani pregledi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="istorijaClick()">Istorija pregleda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="profilClick()">Nalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="odjaviClick()">Odjavi se</a>
            </li>

        </ul>
    </div>

</nav>

<!--
<body class="inventory-body">
    <div class="container">
        <div class="jumbotron">

            <h1>DOBRO DOSLI NA VAS PROFIL</h1>
        </div>
    </div>

</body>
-->
<router-outlet></router-outlet>