html, body, app-root {
    height: 100%;
    margin: 0mm;
    }
.inventory-body {
    position: fixed;
    margin-top: -0.7cm;
    min-width: 100%;
    background-image: url("../pocetna-pacijent/klinika.jpg");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    }
.jumbotron{
    margin: 2cm;
    text-align: center;
    align-items: center;
    color: rgb(0, 47, 255);
    font: outline;
    font-family: 'Montserrat', sans-serif;
}
.jumbotron2{
    margin: 1cm;
    text-align: center;
    color: rgb(0, 47, 255);
    font: outline;
    font-family: 'Montserrat', sans-serif;
}
.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.anyClass {
    
    height:500px;
    overflow-y: scroll;
    
  }

  .thead, .tbody{
      margin-left: 5cm;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}