<nav class="navbar navbar-default navbar-light ">


    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav-tabs nav-justified" id="listanav">


            <li class="nav-item">
                <a class="nav-link" (click)="registracijaClick()">Registracija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="prijavaClick()">Prijava</a>
            </li>

        </ul>
    </div>

</nav>


<body class="inventory-body">
    <div class="container">
        <div class="jumbotron">

            <h1>KLINIČKI CENTAR</h1>
        </div>
    </div>

</body>